@font-face {
	font-family: 'kinopoisk-bold'; 
	src:  local(kinopoisk-bold) 
        url(fonts/kinopoisk-bold.woff2); 
    
    src: local(kinopoisk-medium) 
        url(fonts/kinopoisk-medium.woff2);
}

* {
    margin: 0;
    padding: 0;
}


body{
    font-family: 'kinopoisk-medium', sans-serif;
}

    /* banner */


.banner{
    min-height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(main-img.jpg);
}
.main-section-container{
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 76px;
}
.main-section-heading {
    font-weight: 500;
    font-size: 90px;
    line-height: 112px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 50px;
}
.main-section-p {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 30px;
    line-height: 50px;
    line-break: auto;
}
.main-section-p__br{
    display: none;
}

    /* nav */

nav {
    background-color: #ffffff;
}

.container-fluid {
    padding: 0 10%;
}

.nav-item a{
    color: #5D54A4;
}

.nav-item a:hover {
    color: #5D54A4;
}

.btn-outline-success {
    background-color: rgba(215, 137, 215, 0.46);
    color: #5D54A4;
    border: solid 2px #9d65c9;
    border-radius: 15px;
    transition: 0.5s;
}

.btn-outline-success:hover {
    background-color: #9d65c9;
    border: solid 2px #9d65c9;
    transition: 0.5s;
}

.logo {
    width: 200px;
}

.col-6 {
    border: 5px solid transparent;
    border-image: linear-gradient(#9D65C9, #4971C9);
    border-image-slice: 1;
    margin: 2px;
    color: #505050;
}

.col-6 h2{
    margin-top: 5%;
}
.col-6 p{
    margin-top: 3%;
}

.col-6-event{
    border: 4px solid transparent;
    border-image: linear-gradient(#9D65C9, #4971C9);
    border-image-slice: 1;
    margin: 5px;
    color: #505050;

}

.program-event{
    text-align: center;
}
.program-event span {
    font-size: 22px;
}
.col-6-event p {
    margin: 0;
    font-size: 19px;
    
    
}
.col-6-event p:last-child{
    padding-bottom: 20px;
}
.arrow {
}
  /* headers */
.tracks__header,
.program__header,
.carousel__header,
.request__header {
    text-align: center;
    font-size: 30px;
    padding: 3% 0;
    margin-top: 40px;
}

.request__form {
    text-align: center;
    margin: auto;
    padding-bottom: 3%;
}

.request__form iframe {
    width: 70%;
    text-align: center;
    margin: auto;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social a {
    margin: 1%;
}

.copyright {
    text-align: center;
    background-color: #FFFF;
    color: #808080;
}

.carousel {
    width: 80%;
    margin: 2% 10%;
}

@media screen and (max-width:1460px) {
    .col-6-event{
        width:50%;
    }
    .col-6{
    }
    .col-sm-5{
    }
    .order-1{

    }
    .container{
        /* width: 100%; */
    }
    .main-section-container{
        margin: 0 40px;
    }
    .main-section-heading {
        font-weight: 500;
        font-size: 60px;
    }
    .main-section-p {
        color: #FFFFFF;
        font-weight: 500;
        font-size: 26px; 
    }  
}
@media screen and (max-width: 600px) {
    .col-6-event{
        width:90%;
    } 
    .col-sm-5{
        width: 80%;
    }
    .carousel {
        width: 100%;
        margin: 2% 0;
    }
    .request__form iframe {
        width: 80%;
    }
    .main-section-container{
        margin: 0 20px;
    }
    .main-section-heading {
        font-weight: 500;
        font-size: 50px;
    }
    .main-section-p {
        line-height: 40px;
        color: #FFFFFF;
        font-weight: 500;
        font-size: 25px;
        width: 100%;
        line-height: 35px;
        padding-bottom: 40px;   
    }
    .main-section-p__br{
        display: block;
    }
}
@media screen and (max-width: 350px) {
    .main-section-p {
        line-height: 40px;
        color: #FFFFFF;
        font-weight: 500;
        font-size: 20px;
        width: 100%;
        line-height: 30px;  
    } 
}